<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
    <preference for="Magewirephp\Magewire\Model\RequestInterface"
                type="Magewirephp\Magewire\Model\Request"/>
    <preference for="Magewirephp\Magewire\Model\ResponseInterface"
                type="Magewirephp\Magewire\Model\Response"/>

    <virtualType name="Magewirephp\Magewire\Config\Reader\Magewire" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">Magewirephp\Magewire\Model\Config\Magewire\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">Magewirephp\Magewire\Model\Config\Magewire\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">magewire.xml</argument>
        </arguments>
    </virtualType>

    <type name="Magewirephp\Magewire\Model\Config\Magewire">
        <arguments>
            <argument name="reader" xsi:type="object">Magewirephp\Magewire\Config\Reader\Magewire</argument>
            <argument name="cacheId" xsi:type="string">magewirephp_magewire_config</argument>
        </arguments>
    </type>
</config>
